---
import { Image } from "astro:assets";
import charlieimage from "../../../../public/img/charlievuong.webp";
---

<div class="content-presentation">
  <div class="linear-gradient-2"></div>
  <div class="linear-gradient-1"></div>
  <dir class="container-persentation">
    <div class="container-text">
      <!-- <h2 class="text-hello">Hola <strong>soy</strong></h2> -->
      <h2 class="text-name">Charlie Vuong</h2>
      <div class="container-profession">
        <div>
          <span class="p-profession">PhD Student</span>
        </div>
        <div>
          <span class="p-profession">COMPUTER ENGINEERING</span>
        </div>
      </div>      
      <p class="p-presentation">
        I am a third year Computer Engineering PhD Student with a focus in Human-Computer Interaction (HCI), advised by 
        <a href="http://cearto.com/" target="_blank" class="highlight-link">Dr. Cesar Torres</a> at <a href="https://hybridatelier.uta.edu/" target="_blank" class="highlight-link">The Hybrid Atelier </a> in UT Arlington.
        <br><br>
        <strong>Research interest:</strong> Human-Material Interaction, Wearable & Sensing, and Bio-medical application.
        <br><br>
        <div style="text-align: center;">
          I am currently Visiting Researcher at <a href="https://hero.eng.uci.edu/" target="_blank" class="highlight-link">Hero Lab</a> in University of California, Irvine
        </div>
        </p>
      
      <div class="container-curriculum">
        <a href="mailto:hxv6892@mavs.uta.edu" target="_blank" class="a-action"
          >Email</a
        >
        <a
          href="https://docs.google.com/document/d/1-DpBK0FKELFJNZy_ADhKhxHIr6lmWM1M/edit"
          class="a-curriculum"
          target="_blank">Resume</a
        >
      </div>
      <div class="container-social">
        <p class="">Take a look at my</p>
        <a href="https://scholar.google.com/citations?hl=en&user=ofrGvP0AAAAJ" target="_blank">
          <li class="li-social">
            <i class="fa-brands fa-google-scholar"></i>
          </li>
        </a>
        <a href="https://github.com/vuong056" target="_blank">
          <li class="li-social">
            <i class="fa-brands fa-github"></i>
          </li>
        </a>
        <a href="https://www.linkedin.com/in/charlievuong056/" target="_blank">
          <li class="li-social">
            <i class="fa-brands fa-linkedin"></i>
          </li>
        </a>
      </div>
    </div>
    <div class="container-photo-profile">
      <div class="photo-perfil">
        <picture>
          {/* If you are not using vercel, place a normal <img> tag */}
          <Image src={charlieimage} alt="Charlie Vuong" id="inicio" />
        </picture>
      </div>
    </div>
  </dir>
  <div class="background-waves">
    <img class="waves-img" src="/img/waves.svg" alt="waves" />
  </div>
</div>

<script>
  const letters = document.querySelectorAll(".p-profesion");
  letters.forEach((letter) => {
    letter.addEventListener("mouseenter", () => {
      toogle(letter);
    });
  });

  function toogle(letter) {
    letter.classList.add("bouncing");
    letter.addEventListener("animationend", () => {
      letter.classList.remove("bouncing");
    });
  }
</script>

<style>

.highlight {
  background-color: #928c72; /* Change this color as needed */
  padding: 0 4px;           /* Optional: Adds some spacing around the highlight */
  font-weight: bold;         /* Optional: Keeps the text bold */
  border-radius: 4px;        /* Optional: Adds a slight border radius */
}

.content-presentation {
  position: relative;
  width: 100%;
  height: 100%;
}

/* .linear-gradient-1 {
  position: absolute;
  left: 0;
  top: 0;
  width: 500px;
  height: 520px;
  background: radial-gradient(
    at left center,
    rgba(1, 190, 150, 0.5),
    transparent,
    transparent
  );
  z-index: 0;
}

.linear-gradient-2 {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    at right center,
    rgba(1, 190, 150, 0.6),
    rgb(0, 0, 0),
    rgb(0, 0, 0)
  );
  z-index: 0;
} */

.container-persentation {
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 50px 0;
  width: 90%;
  margin: 0 auto;
  max-width: 1355px;
  z-index: 10;
}

.container-text {
  font-family: 'Proto Mono', monospace; /* Applying Proto Mono */
  position: relative;
  width: 50%;
  color: #e2e8f0;
}

.text-hello {
  padding: 10px 0;
  font-size: 20px;
}

.text-name {
  font-family: 'Proto Mono', monospace;
  padding: 5px 0;
  font-size: 30px;
  color: #fcd34d;
  font-weight: 800;
  letter-spacing: 1px;
  margin-top: 30px;
}

.container-profession {
  cursor: pointer;
  padding: 5px 0;
}

.p-profession {
  font-family: 'Proto Mono', monospace;
  font-size: 30px;
  font-weight: 800;
  cursor: pointer;
  display: inline-block;
  text-transform: capitalize;
}

.bouncing {
  transition: 0.8s all;
  color: #5bd7ec;
  animation: rubberband 400ms alternate ease-out;
}
.highlight-link {
  color:  #06b6d4; /* Example: Yellowish color */
  text-decoration: none; /* Removes underline */
  font-weight: bold; /* Optional: makes the text bold */
}

.highlight-link:hover {
  color:#4451c2; /* Example: Changes color on hover to a bluish tone */
  text-decoration: underline; /* Optional: Adds underline on hover */
}


@keyframes rubberband {
  10% {
    transform: scaleX(1);
  }
  40% {
    transform: scaleX(1.12) scaleY(0.75);
  }
  55% {
    transform: scaleX(0.85) scaleY(1);
  }
  75% {
    transform: scaleX(0.9) scaleY(1);
  }
  90% {
    transform: scaleX(1.85) scaleY(0.95);
  }
  100% {
    transform: scaleX(1) scaleY(1);
  }
}

.p-presentation {
  padding: 12px 0;
  font-size: 19px;
  width: 90%;
  text-align: left;
}

.container-curriculum {
  position: relative;
  padding: 40px 0;
  display: flex;
  gap: 20px;
}

.a-action {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 30px;
  border: 1px solid #06b6d4;
  font-size: 18px;
  background-color: #06b6d4;
  text-decoration: none;
  color: #e2e8f0;
  transition: 0.3s;
}

.a-action:hover {
  transform: translateX(4px);
}

.a-curriculum {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 30px;
  color: #e2e8f0;
  border: 1px solid #06b6d4;
  font-size: 18px;
  text-decoration: none;
  transition: 0.3s;
}

.a-curriculum:hover {
  background-color: #8ED1FC;
  transform: translateX(4px);
}

.container-social {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 15px;
}

.container-social a {
  text-decoration: none;
}

.li-social {
  position: relative;
  list-style: none;
  background-color: #06b6d4;
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 40px;
}

.li-social i {
  font-size: 25px;
  color: #e2e8f0;
}

.li-social:hover {
  transform: rotate(-360deg);
}

.container-photo-profile {
  position: relative;
  width: 50%;
  display: flex;
  justify-content: center;
}

.photo-perfil {
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
  height: 300px;
  width: 300px;
  margin-top: 30px;
  margin-left: 110px;
  border-radius: 50%;
  z-index: 10;
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.photo-perfil img {
  position: relative;
  display: block;
  object-fit: cover;
  height: 100%;
  width: 100%;
  filter: drop-shadow(-10px -5px 10px #000) contrast(110%);
  transition: 0.3s;
}

.background-waves {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  pointer-events: none;
}

.waves-img {
  position: relative;
  width: 100%;
  height: 100%;
}

/* responsive */
@media (max-width: 900px) {
  .container-persentation {
    flex-direction: column-reverse;
    height: auto;
    gap: 30px;
    padding-top: 100px;
  }
  .container-photo-profile {
    width: 100%;
    justify-content: center;
    justify-items: center;
    margin: 0;
  }
  .photo-perfil {
    margin: 0;
  }
  .container-text {
    width: 100%;
  }
}

@media (max-width: 640px) {
  .p-presentation {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .container-curriculum {
    display: flex;
    gap: 10px;
  }
  .linear-gradient-1 {
    display: none;
  }
}
</style>
